/**
 * @file
 * Styles for the People when used with the Olivero theme.
 */
.view-id-people.view-display-id-attachment_1 .view-content {
  padding-top: 0.75rem;
}

.view-id-people.view-display-id-attachment_1 a.is-active {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

.view-id-people.view-display-id-glossary .view-header {
  float: right;
  margin-bottom: 0;
}

.view-id-people .view-header .button {
  margin: 0;
}

#drupal-off-canvas .node-person-form .js-form-type-vertical-tabs {
  display: none;
}
